{
  // This directory contains templates for generating
  // JS files and has special eslint config.
  "rules": {
    // Realtive require paths are different
    "node/no-missing-require": 0,
  },
  "globals": {
    // Template substitutions
    "__build": 0
  }
}
